<div class="profile-welcome-message">
  <h2>Welcome <%= @user.username %> </h2>
</div>

<div class="surveys-created">
  <ul> <h4>Surveys Created by <%= @user.username %> </h4>
    <li>
      <% @list = @user.list_surveys_created %>
      <% @list.each do |item| %>
      <a href="/surveys/<%=item.id%>"> <%= item.title %> </a>
      <% end %>
    </li>
  </ul>
</div>

<div class="surveys-taken">
  <ul> <h4>Surveys Taken by <%= @user.username %> </h4>
    <li>
    </li>
  </ul>
</div>
