<div>
  <p><%= question.prompt %></p>
    <% question.choices.each do |choice| %>
      <input id="<%=question.id%>" type="radio" name="userresponses[question<%=question.id%>]" value="<%=choice.id%>" />
      <input type="hidden" name="choice[count]" value="0" />

      <option value="<%= choice.selection %>"><%= choice.selection %></option>
    <% end %>
</div>

